<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273218247892-3ie7tlbgepgul63uvceith4folppoq2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273218247892-3ie7tlbgepgul63uvceith4folppoq2o</string>
	<key>API_KEY</key>
	<string>AIzaSyC06wJ31NXkiZse-vCAiQ-0JLcR6YUbs9g</string>
	<key>GCM_SENDER_ID</key>
	<string>273218247892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poeticApp</string>
	<key>PROJECT_ID</key>
	<string>poetic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>poetic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273218247892:ios:34b3ecf9d631f101332f41</string>
	<key>DATABASE_URL</key>
	<string>https://poetic-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>